<mat-toolbar>
  <div class="logo">
    <img src="../../../assets/image/logo.svg" alt="logotype" />
  </div>

  <nav *ngIf="isLoggedIn | async">
    <a [routerLink]="['/cameras']" [routerLinkActive]="'active'">{{
      "HEADER.MENU.CAMERAS" | translate
    }}</a>
    <a [routerLink]="['/reporting']" [routerLinkActive]="'active'">{{
      "HEADER.MENU.REPORTING" | translate
    }}</a>
    <a [routerLink]="['/settings']" [routerLinkActive]="'active'">{{
      "HEADER.MENU.SETTINGS" | translate
    }}</a>
  </nav>

  <div class="right">
    <mat-form-field class="language-select" *ngIf="!(isLoggedIn | async)">
      <mat-select
        [(ngModel)]="selectedLang"
        (selectionChange)="changeLanguage($event.value)"
      >
        <mat-option *ngFor="let lang of languages" [value]="lang">
          {{ lang | uppercase }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <span class="user" *ngIf="user"> {{ user.name }}</span>
    <button
      mat-raised-button
      color="primary"
      *ngIf="isLoggedIn | async"
      (click)="logout()"
    >
      {{ "HEADER.LOGOUT" | translate }}
    </button>
  </div>
</mat-toolbar>
