<div class="login-wrapper">
  <mat-card class="mat-elevation-z24 login-form">
    <h3>{{ "AUTH.TITLE" | translate }}</h3>
    <form novalidate [formGroup]="loginForm" (ngSubmit)="signIn()">
      <mat-form-field>
        <mat-label>{{ "AUTH.LABELS.USERNAME" | translate }}</mat-label>
        <input matInput formControlName="username" />

        <mat-error *ngIf="loginForm.get('username').hasError('required')">
          {{ "AUTH.ERRORS.REQUIRED" | translate }}
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{ "AUTH.LABELS.USERNAME" | translate }}</mat-label>
        <input matInput type="password" formControlName="password" />
        <mat-error *ngIf="loginForm.get('password').hasError('required')">
          {{ "AUTH.ERRORS.REQUIRED" | translate }}
        </mat-error>
      </mat-form-field>
      <button mat-raised-button type="submit" color="primary">
        {{ "AUTH.BTN" | translate }}
      </button>
    </form>
  </mat-card>
</div>
