.grid {
  display: grid;
  margin: 20px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.slider-wrap {
  width: calc(100% + 32px);
  margin: 0 -16px 0 -16px;
  img {
    width: 100%;
  }
}
